<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--@as Localization-->
    <add key="Localization.LanguageId" value="en"/>
    <add key="Localization.ResourceFolder" value="\App_Data\"/>
    <add key="Localization.ResourceType" value="XmlFile"/>
  </appSettings>
</configuration>